/__pycache__/*.pyc
adaptiveio/events/__pycache__/*.pyc
adaptiveio/tables/__pycache__/*.pyc
adaptiveio/tables/collections/__pycache__/*.pyc
adaptiveio/templates/__pycache__/*.pyc
adaptiveio/transforms/__pycache__/*.pyc
template_load_pipe.ipynb
docs/__pycache__/*.pyc
docs/source/index.rst
adaptiveio/tables/names/__pycache__/*.pyc
docs/build/.buildinfo
docs/build/.buildinfo
docs/build/.buildinfo
docs/build/.buildinfo
docs/build/.buildinfo
test_tables/output/*
dist/*
build/*
adaptiveio.egg-info/*
adaptiveio/__pycache__/*
adaptiveio/mapping/__pycache__/*
adaptiveio/mapping/webcanvas/__pycache__/tailwindcss.cpython-310.pyc
templates/transform_dags/*
docs/source/events.rst
docs/source/mapping.rst
docs/source/tables.rst
docs/source/transforms.rst
docs/source/adaptiveio_root.rst
templates/events_log/job_1/table_specific/*_events.json
templates/events_log/job_1/treatments.json
test_tables/prod/job_1/output/*
adaptiveio/dag/__pycache__/*
test_tables/jobs/prod/job_1/output/*